:root {
  --today-background: orange;
  --forecast-background: navy;
  --forecast-text: white;
  --history-btn-bg: pink;
}
.container{
    display: flex;
    color: var(--forecast-text);
    flex-wrap: wrap;
    }

.forecastDay{
  background-color: var(--forecast-background);
}

.todayContainer {
  background-color: var(--today-background);
}

.forecastDay, .todayContainer, .historyBtn {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.historyBtn{
  background-color: var(--history-btn-bg);
}

