:root {
  --today-background: #D7DEDC;
  --forecast-background: #545F66;
  --forecast-text: #F7EBE8;
  --history-btn-bg: #CFCFCD;
  --header-color:#FF5666;
  --header-text: #2E0014;
}

h1 {
  background-color: var(--header-color);
  color: var(--header-text)
}
.container{
    display: flex;
    color: var(--forecast-text);
    flex-wrap: wrap;
    }

.forecastDay{
  background-color: var(--forecast-background);
}

.todayContainer {
  background-color: var(--today-background);
}

.forecastDay, .todayContainer, .historyBtn {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.historyBtn{
  background-color: var(--history-btn-bg);
}

